<section id="workstation" class="work section">
                <div class="container">
                    <h2 class="title">Наши подразделения</h2>
                    <div id="workstation-slider" class="owl-carousel">
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/4.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ divisions[0][0] }}</h3>
                                    {% for m in divisions[0][1] %}
                                        <li>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/5.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ divisions[1][0] }}</h3>
                                    {% for m in divisions[1][1] %}
                                        <li>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/6.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ divisions[2][0] }}</h3>
                                    {% for m in divisions[2][1] %}
                                        <li>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/4.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ divisions[3][0] }}</h3>
                                    {% for m in divisions[3][1] %}
                                        <li>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/5.jpg">
                                </div>
                                <div class="vira-card-content">
                                      <h3>{{ divisions[4][0] }}</h3>
                                    {% for m in divisions[4][1] %}
                                        <li>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/6.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ divisions[5][0] }}</h3>
                                    {% for m in divisions[5][1] %}
                                        <li>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>