<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <head>
                <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="manifest" href="/static/images/site.webmanifest">
        <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <style>
        {% for m in range(table_pr_proj[0:]| length) %}
            {% if "выполнен" in table_pr_proj[m][9] %}
                tr:nth-child({{ m+1 }})>td:nth-child(10){background: green;}
            {% endif %}
        {% endfor %}
        table.pr_projects , th, td {
          border: 1px solid black;
            table-layout:fixed; width:150px;
          padding: .3em 1em;
        }
table.pr_projects td,
table.pr_projects th {
	overflow:hidden;
}
table.pr_projects td:nth-of-type(4),
table.pr_projects th:nth-of-type(4) {
	width:450px;
}
        </style>
    </head>
    <body>
        {% include "menu.html" %}
        <div class="main element">
            {% include "navbar.html" %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="headings">
                            <h1>Перечень производственных задач</h1>

                            <!--<p>
                                 Содержимое
                            </p>
                            <h2>Обучение</h2>-->
                            <table class="pr_projects">
                                <tr>
                                     {% for m in table_pr_proj[0] %}
                                    <th>{{ m }}</th>
                                    {% endfor %}
                                </tr>
                                {% for m in table_pr_proj[1:] %}
                                    <tr>{% for n in m %}
                                            <td>
                                                       {{ n }}
                                           </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                <tr>

                            </table>
                            <!--<h3>Заголовок 3 с параметрами</h3>
                            <p>
                                Содержимое
                            </p>-->
                        </div>
                    <div class="col-sm-12">
                        <h2 class="title mt80">Проекты:</h2>
                        {% for m in list_ways %}
                        <a href="projects/{{ m }}"><li>{{ m }}</li></a>
                        {% endfor %}
                    </div>
                        <div class="social-icons">
                            <h2>Связаться</h2>
                            <ul>
                                <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                                <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                                <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                            </ul>
                        </div>
                        <div class="blockquote mt80">
                            <h2>Заметка</h2>
                            <p>
                               Информация
                            </p>
                        </div>
                        <div class="cta mt80">
                            <h2>Управление</h2>
                            <a class="btn vira-btn solid mr60" href="#">Пуск</a>
                            <a class="btn vira-btn solid small-btn" href="#">кнопка</a>
                            <br>
                            <a class="btn vira-btn mr60" href="#">Сброс</a>
                            <a class="btn vira-btn small-btn" href="#">Кнопка2</a>
                        </div>
                        <div class="vira-card-section mt80">
                            {% include "divisions.html" %}
                            {% include 'leaders.html' %}
                        </div>
                    </div>
                </div>
            </div>


            {% include 'footer.html' %}
        </div>
        {% include 'scripts.html' %}
    </body>
</html>
