<section id="team" class="team section">
                <div class="container">
                    <h2 class="title">Руководство</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/8.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ leaderships[0][0] }}</h3>
                                    <p>
                                       {{ leaderships[0][1] }}
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="#"><li><span class="ion-ios-telephone"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/9.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ leaderships[1][0] }}</h3>
                                    <p>
                                       {{ leaderships[1][1] }}
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="#"><li><span class="ion-ios-telephone"></span></li></a>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/10.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ leaderships[2][0] }}</h3>
                                    <p>
                                       {{ leaderships[2][1] }}
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="#"><li><span class="ion-ios-telephone"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/12.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ leaderships[3][0] }}</h3>
                                    <p>
                                       {{ leaderships[3][1] }}
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="#"><li><span class="ion-ios-telephone"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/13.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ leaderships[4][0] }}</h3>
                                    <p>
                                       {{ leaderships[4][1] }}
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="#"><li><span class="ion-ios-telephone"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="../static/images/14.jpg">
                                </div>
                                <div class="vira-card-content">
                                    <h3>{{ leaderships[5][0] }}</h3>
                                    <p>
                                       {{ leaderships[5][1] }}
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="#"><li><span class="ion-ios-telephone"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>