<div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="/index"><li>домой</li></a>
                    <a href="/index#about"><li>о нас</li></a>
                    <a href="/index#expertise"><li>основы</li></a>
                    <a href="/index#workstation"><li>рабочие центры</li></a>
                    <a href="/index#team"><li>команда</li></a>
                    <a href="/index#contact"><li>связь</li></a>
                    <a href="/elements"><li>План задач</li></a>
                    <a href="/projects"><li>Проекты</li></a>
                </ul>
            </div>
        </div>